@use '../abstracts/' as ab;

.banner {
  display: grid;
  justify-content: space-around;
  max-height: calc(100vh - 50px);
  // background-color: #f5f5f5;
  .banner-row {
    display: flex;
    align-items: center;
    overflow: hidden;
    .banner-top--info {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.6rem;
      width: 320px;
    }
    .banner-row-col{
      width: 50%;
      display: flex;
      align-items: center;
    }
    .banner-row-col.secondary{
      justify-content: center;
    }
    &.banner-bottom{
      justify-content:flex-end;
    }
    .row-title,
    .row-letter {
      font-size: 8rem;
      font-weight: 500;
      position: relative;
      display: inline-block;
      letter-spacing: -0.8rem;
      white-space: nowrap;
    }
  }
}

