@use "../abstracts/" as ab;
@use "../utils/" as util;

section.footer {
  min-height: 80vh;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  align-items: center;
  background-color: ab.$dark-brown;

  @include util.breakpoint-down(mediumLarge) {
    min-height: 75vh;
  }

  @include util.breakpoint-down(medium) {
    min-height: 65vh;
  }

  @include util.breakpoint-down(small) {
    min-height: 55vh;
  }

  @include util.breakpoint-down(halfSmall) {
    min-height: 45vh;
  }

  .footer-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    span {
      font-size: clamp(1rem, 1rem + 6vw, 13rem);
      font-weight: bold;
      color: ab.$off-white;
      font-family: "Syncopate", sans-serif;

      @include util.breakpoint-down(small) {
        color: ab.$light-white;
      }

      @include util.breakpoint-down(halfSmall) {
        font-size: clamp(1rem, 1rem + 3vw, 6rem);
      }
    }

    .footer-image {
      width: 17vw;

      @include util.breakpoint-down(medium) {
        width: 20vw;
      }
    }
  }

  .footer-userdetails {
    position: relative;
    margin-bottom: -2rem;
    background-color: ab.$off-white;
    border: 4px solid ab.$all-black;
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include util.breakpoint-down(small) {
      background-color: ab.$light-white;
    }

    @include util.breakpoint-down(halfSmall) {
      padding: 0.3rem;
    }

    span {
      font-family: "Cormorant Upright", serif;
      font-weight: bold;

      @include util.breakpoint-down(halfSmall) {
        font-size: 0.8rem;
      }
    }
    .right {
      span:first-child {
        text-transform: uppercase;
        font-size: 1.25rem;

        @include util.breakpoint-down(halfSmall) {
          font-size: 0.9rem;
        }
      }
    }
  }
}
