@use '../abstracts' as ab;

.loader-background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 99;
  background-color: ab.$all-black;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: ab.$off-white;
  display: flex;
  padding-right: 50px;
  padding-bottom: 50px;
  justify-content: flex-end;
  align-items: flex-end;
}

.counter-container {
  overflow: hidden;
  height: 30vw;
  min-height: 30vw;
  z-index: 1000;

  h3 {
    z-index: 200;
    margin-top: 0px;
    margin-bottom: 1vw;
    color: ab.$black;
    font-size: 30vw;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 30vw;
    font-weight: 300;
  }
}
