@use '../abstracts/' as ab;
@use "../utils/" as util;

.transition-background {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  z-index: 87;
  background-color: ab.$sec-color;
  will-change: transform, height;
}

.transition-main-background {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 88;
  background-color: ab.$dark-brown;
  will-change: transform, height;

  .transition-page-name {
    font-size: clamp(1.5rem, calc(1.5rem + 4vw), 8rem);
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: ab.$all-black;
    padding: 2rem;
    margin-left: 2rem;
    border-radius: 0.2rem;
    background-color: ab.$off-white;
    clip-path: inset(0% 0% 0% 100%);
    @include util.breakpoint-down(halfSmall) {
      font-size: clamp(1.3rem, calc(1rem + 3vw), 3rem);
    }
  }
}

.transition-background::-webkit-scrollbar,
.transition-main-background::-webkit-scrollbar {
  display: none;
}
