@use '../abstracts/' as ab;

.transition-background{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  z-index: 87;
  background-color: ab.$black;
}

.transition-main-background{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  bottom:0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 88;
  background-color: ab.$main-color;
}

.transition-page-name{
  font-size: clamp(4rem, calc(3rem + 6vw), 10rem);
  font-family: inherit;
  color: ab.$sec-color;
  padding: 2rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  background-color: ab.$black;
  clip-path: inset(100% 0% 0% 0%);
}
