@use "../abstracts" as ab;
@use "../utils/" as util;

.mindmap-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
  padding: 2rem;
  background-color: ab.$off-white;
  color: ab.$all-black;
  font-family: "Syncopate", sans-serif;

  @include util.breakpoint-down(small) {
    background-color: ab.$light-white;
  }

  @include util.breakpoint-down(midSmall) {
    padding: 1rem;
  }

  .mindmap-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 3rem;

    h3 {
      font-size: clamp(4rem, 4rem + 3vw, 6rem);
      font-weight: bold;
      justify-self: center;
      font-family: "Cormorant Upright", serif;
    }

    .desc-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .desc {
        width: 80vw;
        display: grid;
        gap: 3rem;
        font-weight: bold;

        @include util.breakpoint-down(small) {
          width: 90vw;
        }

        .details {
          width: 100%;
          display: flex;
          gap: 1rem;
          font-weight: 500;
          line-height: 1.3;

          span {
            font-size: clamp(1rem, 1rem + 0.5vw, 2.3rem);

            @include util.breakpoint-down(halfSmall) {
              font-size: 1rem;
            }

            &#content {
              opacity: 1;

              &.is-reveal {
                opacity: 1;
              }
            }
          }
        }

        .social-links {
          justify-self: center;
          width: 80%;
          padding: 2rem 0;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 2rem;

          @include util.breakpoint-down(extraSmall) {
            grid-template-columns: repeat(4, 1fr);
          }

          a{
            justify-self: center;
            display: flex;

            .social-icon {
              font-size: 2.5rem;
              color: ab.$dark-brown;
              cursor: pointer;
              margin-bottom: 7px;
              transition: all 0.2s ease-in-out;
              &:hover {
                color: ab.$main-color;
              }
  
              @include util.breakpoint-down(midSmall) {
                font-size: 1.8rem;
              }
            }
          }
        }
      }

      .underline-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .underline-svg {
          width: 90%;
          max-height: 4rem;
          margin-top: 1rem;
        }
      }
    }
  }

  .about-footer {
    .about-footer-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      text-align: center;
      gap: 2rem;
      width: 100%;

      @include util.breakpoint-down(medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }

      @include util.breakpoint-down(halfSmall) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-self: center;
        border: 4px solid black;
        border-radius: 0.2rem;
        gap: 0.5rem;
        color: ab.$all-black;
        max-width: 300px;

        @include util.breakpoint-down(halfSmall) {
          max-width: 90%;
        }

        h4 {
          font-size: 1rem;
          font-weight: bold;
          border-bottom: 4px solid black;
          padding: 1rem;
          background-color: ab.$main-color;
        }

        p {
          font-size: 0.9rem;
          line-height: 1;
          margin: 1rem;
        }
      }

      .item-4 {
        border: none;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
        display: grid;
        place-content: center;

        .arrow-icon {
          font-size: 5rem;
        }

        .btn-about {
          background: none;
          font-family: "Syncopate", sans-serif;
          font-weight: bold;
          border: none;

          a {
            color: ab.$all-black;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
