@use "../abstracts" as ab;
@use "../utils/" as util;

.projects-container {
  min-height: calc(100vh);
  overscroll-behavior: none;

  .projects-wrapper {
    position: relative;
    height: 100%;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .title {
      font-size: clamp(4rem, 4rem + 3vw, 6rem);
      font-weight: bold;
      align-self: center;
      font-family: "Cormorant Upright", serif;

      @include util.breakpoint-down(midSmall) {
        margin-bottom: 5vh;
      }
    }

    .project-wrapper {
      background: ab.$main-color;
      position: relative;
      padding: 0.5rem;
      height: 90vh;
      width: 100vw;
      display: grid;
      place-content: center;

      @include util.breakpoint-down(mediumLarge) {
        height: 80vh;
      }
      @include util.breakpoint-down(medium) {
        height: 70vh;
      }

      .project-counter {
        position: absolute;
        top: 15%;
        left: 4%;
        line-height: 16px;
        color: ab.$off-white;
        font-family: "Cormorant Upright", serif;
        font-size: 2rem;
        font-weight: bold;

        @include util.breakpoint-down(mediumLarge) {
          top: -3%;
        }

        @include util.breakpoint-down(medium) {
          top: -4%;
        }

        @include util.breakpoint-down(midSmall) {
          top: -10%;
        }

        @include util.breakpoint-down(extraSmall) {
          top: -13%;
        }

        .divider {
          content: "";
          background-color: white;
          width: 6.25vw;
          margin: 5px 10px;
          height: 1px;
          display: inline-block;
        }
      }
      .project-item {
        aspect-ratio: 16/9;
        width: 60vw;
        height: 100%;
        position: relative;
        will-change: transform;

        @include util.breakpoint-down(mediumLarge) {
          width: 70vw;
        }

        @include util.breakpoint-down(medium) {
          aspect-ratio: 16/10;
          width: 75vw;
        }

        @include util.breakpoint-down(small) {
          aspect-ratio: 16/13;
        }

        @include util.breakpoint-down(halfSmall) {
          aspect-ratio: 16/15;
          width: 80vw;
        }

        @include util.breakpoint-down(midSmall) {
          aspect-ratio: 9/16;
          width: 60vw;
        }

        @include util.breakpoint-down(extraSmall) {
          width: 70vw;
        }

        .project-item-info {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          background-color: ab.$off-white;
          border: 4px solid black;
          border-radius: 0.3rem;
          padding: 1.5rem;
          gap: 1vh;
          bottom: 15%;
          z-index: 1;
          clip-path: inset(0 0 0 100%);
          transform: translate(-20%);
          color: ab.$all-black;
          transition: clip-path 1s 0.5s cubic-bezier(0.77, 0, 0.175, 1);

          @include util.breakpoint-down(medium) {
            padding: 1rem;
            gap: 0.5vh;
            max-width: 30vw;
          }

          @include util.breakpoint-down(small) {
            max-width: 40vw;
          }

          @include util.breakpoint-down(halfSmall) {
            max-width: none;
            transform: translate(-10%);
          }

          &.is-reveal {
            clip-path: inset(0 0 0 0);
          }

          .project-info-title {
            font-family: "Cormorant Upright", serif;
            font-weight: bold;
            font-size: clamp(0.7rem, 0.5rem + 2vw, 1.5rem);
          }

          .project-info-desc {
            position: relative;
            font-size: clamp(0.7rem, 0.5rem + 0.5vw, 0.9rem);
          }

          .project-info-link {
            position: relative;
            background-color: ab.$brown;
            color: ab.$off-white;
            border-radius: 0.1rem;
            font-weight: bold;
            font-size: clamp(0.5rem, 0.5rem + 0.4vw, 0.8rem);
            text-transform: uppercase;
            font-family: "Syncopate", serif;
            padding: 0.5rem 1rem;
            margin-top: 1vh;

            @include util.breakpoint-down(mediumLarge) {
              padding: 0.5rem;
            }
          }
        }

        .project-item-image {
          background-size: cover;
          background-position: center;
          transform-origin: center;
          filter: grayscale(100%);
          width: 100%;
          height: 100%;
          will-change: transform;
          transform: scale(0.7);
          transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);

          &.is-reveal {
            transform: scale(1);
            filter: none;
          }
        }
      }
      &:nth-child(odd) {
        .project-item-info {
          right: 0;
          transform: translate(20%);
          clip-path: inset(0 100% 0 0%);
          
          @include util.breakpoint-down(halfSmall) {
            transform: translate(10%);
          }
        }
      }
    }
  }
}
