@use "../abstracts" as ab;

.projects-container {
  min-height: calc(100vh);
  overscroll-behavior: none;

  .title {
    font-size: 6rem;
    font-weight: bold;
    color: ab.$all-black;
    font-family: "Cormorant Upright", serif;
  }

  .projects-wrapper {
    position: relative;
    height: 100%;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .title {
      font-size: 6rem;
      font-weight: bold;
      align-self: center;
      font-family: "Cormorant Upright", serif;
    }

    .project-wrapper {
      background: ab.$main-color;
      position: relative;
      padding: 0.5rem;
      height: 90vh;
      width: 100vw;
      display: grid;
      place-content: center;

      .project-counter {
        position: absolute;
        top: 15%;
        left: 4%;
        // mix-blend-mode: difference;
        line-height: 16px;
        color: ab.$off-white;
        font-family: "Cormorant Upright", serif;
        font-size: 2rem;
        font-weight: bold;

        .divider {
          content: "";
          background-color: white;
          width: 6.25vw;
          margin: 5px 10px;
          height: 1px;
          display: inline-block;
        }
      }
      .project-item {
        aspect-ratio: 16/9;
        width: 60vw;
        height: 100%;
        position: relative;
        will-change: transform;

        .project-item-info {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          background-color: ab.$off-white;
          border: 4px solid black;
          border-radius: 0.3rem;
          padding: 1.5rem;
          gap: 1vh;
          bottom: 15%;
          z-index: 1;
          clip-path: inset(0 0 0 100%);
          transform: translate(-20%);
          color: ab.$all-black;
          transition: clip-path 1s 0.5s cubic-bezier(0.77, 0, 0.175, 1);

          &.is-reveal {
            clip-path: inset(0 0 0 0);
          }

          .project-info-title {
            font-family: "Cormorant Upright", serif;
            font-weight: bold;
            font-size: 2vw;
          }

          .project-info-desc {
            position: relative;
            font-size: 1vw;
          }

          .project-info-link {
            position: relative;
            background-color: ab.$brown;
            color: ab.$off-white;
            border-radius: 0.1rem;
            font-weight: bold;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-family: "Syncopate", serif;
            padding: 0.5rem 1rem;
            margin-top: 1vh;
          }
        }

        .project-item-image {
          background-size: cover;
          background-position: center;
          transform-origin: center;
          filter: grayscale(100%);
          width: 100%;
          height: 100%;
          will-change: transform;
          transform: scale(0.7);
          clip-path: inset(0 0 0 0);
          transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);

          &.is-reveal {
            transform: scale(1);
          }
        }
      }
    }
  }
}
