@use '../abstracts/' as ab;

body{
  background-color: ab.$main-color;
}

.container{
  // width:min(100vw, 1400px);
  margin: 0 auto;
}

a{
  text-decoration: none;
  position: relative;
}

a::after, a::before{
  content: '';
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: ab.$all-black;
  transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a::after{
  right: 50%
}

a::before{
  left: 50%;
}

a:hover::after{
  width: 50%;
}

a:hover::before{
  width: 50%;
}

::-webkit-scrollbar {
  display: none;
}